<head>
  <title>Activity</title>
  <link rel="stylesheet" href="../components/activity.css">
  <link rel="stylesheet" href="../components/style.css"> 
</head>
<body>
  <section>
    <section class="activity-section">
      <div class="container">
        <!-- ------------------------------- titles -------------------------------- -->
          <h3>ACTIVITY</h3>
          <p> ARRIVE TO FESTIVAL AND MISS OBSTACLES</p>
          <!-- ------------------------------- button -------------------------------- -->
          <a href="/" class="come-back">Come back to Home</a>

          <!-- -------------------------------- game --------------------------------- -->
          <div class="game-container">
          <div id="activity">
            <div id="van"></div>
            <div id="guitar"></div>
            <span id="score">0</span> 
          </div>
        </div>
      </div>
    </section>
  </section>
  <script src="/activity.js"></script>
</body>
