<head>
    <title>Navbar</title>
    <link rel="stylesheet" href="../components/style.css"> 
    <link rel="stylesheet" href="../navbar/navbar.css"> 
</head>
<body>
    <header>
        <h2 class="logo">Groove festival</h2>
        <div id="navbar" class="navbar">
            <ul>
                <li class="item"><a href="/Home">HOME</a></li>
                <li class="item"><a href="/Line-Up">LINE UP</a></li>
                <li class="item"><a href="/Area">AREA</a></li>
                <li class="item"><a href="/FAQ">FAQ</a></li>
                <li class="item"><a href="/Contact">CONTACT</a></li>                                      
            </ul>
        </div>
    </header>

    <script src="../navbar/navbar.js"></script> 
</body>

