header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: var(--yellow);
  text-transform: uppercase;
  cursor: pointer;
  margin-right: auto;
}


.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #1cb81c; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.sticky + .content {
  padding-top: 60px;
  
}

.navbar ul li.item.active a {
  color: #ff5722;}


li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #fff;
    text-decoration: none;
}
a {

    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #999;
    
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--yellow);
    transform-origin: right-top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: var(--dark-green);
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
 
@media (max-width: 700px)
{
.menu ul li a
{
  text-decoration: none;
  font-size: 10px;
} 
a{
  font-weight: 500;
}

header
{
  padding: 5px 10px;
}

header .logo{
  display:none;
}


}